/* Global Styles */
* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    border-radius: 16px;
    background: none;
    color: #DCDCDC;
    opacity: 0.75;
}

tooltip {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 14px;
}

tooltip label {
    color: #DCDCDC;
}

#tray menu {
    background-color: rgba(255, 255, 255, 0.1);
    color: #DCDCDC;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}


#workspaces,
#bluetooth,
#network,
#battery,
#clock,
#mpris,
#pulseaudio,
#backlight,
#temperature,
#cpu,
#memory,
#custom-sunset,
#custom-dnd {
    padding: 0 14px;
    background-color: rgba(255, 255, 255, 0.1);
}

#workspaces button {
    min-width: 28px;
    color: #DCDCDC;
    border-radius: 16px;
    margin: 2px 0;
}

#workspaces button:not(:last-child) {
    margin-right: 4px;
}

#workspaces button:hover {
    color: #FFF;
    border-color: transparent;
    box-shadow: none;
    background: none;
}

#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: transparent;
    color: #FFF;
}

#privacy {
    padding: 0 16px;
    color: #DCDCDC;
}

#tray {
    padding: 0 16px;
}

#workspaces {
    border-radius: 16px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
}


#bluetooth  {
    border-radius: 16px 0 0 16px;
    padding-left: 20px;
}

#clock,
#pulseaudio {
    padding-right: 16px;
    border-radius: 0 16px 16px 0;
}

#pulseaudio.microphone {
    padding-right: 14px;
    border-radius: 0;
}

#memory {
    padding: 8px 16px;
    border-radius: 16px 0 0 16px;
}

#battery.critical,
#temperature.critical {
    color: #cc0000;
}

#battery.charging {
    color: #00cc00
}

#battery.plugged {
    color: #00cc00;
}

#custom-sunset,
#custom-dnd {
    border-radius: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
}

#custom-dnd {
    padding-right: 17px;
    margin-right: 12px;
}