* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: #000000;
    opacity: 0.85;
}

#clock,
#workspaces,
#window,
#expand, 
#privacy,
#tray,
#memory,
#cpu,
#temperature,
#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery,
#custom-notification {
    color: #DCDCDC;
    padding: 0px 7px;
    margin: 3px 0px;
    margin-top: 5px;
    /* border: 1px solid #181825; */
}

#clock {
    margin-left: 5px;
    border-right: 0px;
}

#workspaces {
    
}

#workspaces button {
    padding: 5px;
    color: #444444;
}

#workspaces button.active {
    color: #DCDCDC;
}

#workspaces button.focused {
    color: #000;
    background: #dfc273;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #000;
    background: #DCDCDC;
    transition: 0.25s;
}

#workspaces button:hover {
    color: #DCDCDC; 
    background: transparent;
}

#window {
    margin-left: 10px;
    margin-right: 10px;
}

#privacy {
        
}

#tray * {
    background: #000;
    color: #A6ADC8;
}

#memory {
    
}

#cpu {
    
}

#bluetooth {
    margin-right: 0px;
}

#bluetooth.off {
    color: #999999;
}

#pulseaudio {
    
}

#pulseaudio.microphone {
    
}

#network {
    margin-left: -10px;
}

#network.disconnected {
    color: #999999;
    
}

#battery {

}

#battery.critical {
    color: #cc0000;
}

#battery.charging {
    color: #00cc00;
}

#battery.plugged {
    color: #00cc00;
}

#custom-notification {
    margin-right: 10px;
}

#custom-notification.dnd-none, #custom-notification.dnd-notification,
#custom-notification.dnd-inhibited-notification, #custom-notification.dnd-inhibited-none {
    color: #999999;
}